name: Worker Task Processor

on:
  repository_dispatch:
    types: [process-task]

jobs:
  process:
    runs-on: ubuntu-latest
    steps:
      - name: Print taskId
        run: |
          echo "Task ID:"
          echo "${{ github.event.client_payload.taskId }}"
